{
	"presets": [
		"env",
		"react"
	],
	"plugins": [
		"transform-object-rest-spread",
		[
			"module-resolver",
			{
				"root": [ "." ],
				"alias": {
					"images": "./src/images",
					"contexts": "./src/contexts",
					"pages": "./src/pages",
					"routes": "./src/routes",
					"atoms": "./src/components/atoms",
					"molecules": "./src/components/molecules",
					"organisms": "./src/components/organisms",
					"templates": "./src/components/templates"
				}
			}
		]
	]
}
