.app {
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
	max-width: 650px;
	min-width: 650px;
	margin: 50px auto;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px $color-shadow;
	border-radius: 3px;
}
